.App{
    position: relative;
}
audio{
    bottom: 0;
    position: absolute;
}
.hidden{
    display: none;
}
.zindex1{
    z-index: 1;
}
textarea{
    resize: none;
}
.text-align-center{
    text-align: center;
}